@import './_anim.scss';
@import './_vars.scss';

.cursor {
    width: 100%;
    position: absolute;
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    left: 0;
    top: 100%;
    margin-top: -30px;

    transition: 0.3s all;

    div[contenteditable="true"] {
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        &:after {
            content: '  ';
            width: 10px;
            border-bottom: 2px solid #fff;
            color: #fff;
            display: inline-block;
            margin-right: 30px;
            animation-name: cursor;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }

    &:before {
        content: '>';
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -12px;
    }
}
