* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    color: #fff;
    position: relative;
    background: url('../images/bg.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.content {
    position: absolute;
    background: #000;
    width: 500px;
    height: 400px;
    left: 150px;
    top: 100px;
    border-radius: 3px;
    box-shadow: 1px 1px 25px #000;

    .content__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: #F6F6F6;
        color: #000;
        line-height: 20px;
        border-radius: 3px 3px 0 0;
        z-index: 2;
    }
}

.submit-btn {
    display: none;
    outline: none;
    opacity: 0;
    visibility: hidden;
}

*[contenteditable] {
    color: transparent;
    text-shadow: 0 0 0 #fff;
    outline: none;
}
