@import './_vars.scss';

.list {
    position: absolute;
    list-style: none;
    width: $width;
    left: 50%;
    bottom: calc(50% + 50px);
    margin-left: $width / -2;
    padding-left: 50px;
    max-height: calc(100vh - 50px);
    overflow: auto;

    transition: 0.3s all;

    div {
        display: block;
        width: 100%;
    }
}
