@import './_vars.scss';

.list {
    position: absolute;
    list-style: none;
    width: 100%;
    left: 0;
    bottom: 30px;
    padding-left: 20px;
    max-height: 370px;
    overflow: hidden;

    transition: 0.3s all;

    div {
        display: block;
        width: 100%;
        padding: 3px 0;
        position: relative;
        z-index: 1;
    }

    a {
        color: #fff;
        cursor: pointer;
        z-index: 3;
        position: relative;
    }
}
