<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="content desktop">
            <div class="content__header">
                bash
            </div>
            <div class="list" contenteditable="true">
                <div>
                    Если не знаете, что нужно делать, то введите команду help. <br />
                    Изначально мы бы предложили задать своё имя. <br />
                    setName=Ваше желаемое имя
                </div>
            </div>
            <div class="cursor">
                <div autofocus contenteditable="true"></div>
            </div>
            <div class="mobile">
                <h2 class="title">Обо мне</h2>
                Всем привет! Меня зовут Евгений Грачев и вы попали ко мне на страничку.
                Тут вы не найдете каких-то красивых графиков и прочей лабудени.
                <br /><br />
                Если говорить конкретно обо мне, то я фронтенд разработчик в одной из крупных контор
                города Перми. Я очень люблю свою работу и люблю всякие новомодные либы и приблуды, которые
                помогают в разработке или усложняют её. Люблю навесить всяких линтеров и автоматических
                сборок в gitlab ci, что бы разрабы страдали. Но вообще я люблю поизобретать что-то новое в
                свободное от основной работы время. Люблю портировать настольные игры в браузер, но не очень доходит
                до реализации из-за нехватки сил, но весь кайф в самом процессе :).
                <br /><br />
                Если же захотите, то можете со мной связаться через твиттер или почту. <br />

                <h2 class="title">Навыки</h2>
                Основы: <br />
                    - HTML <br />
                    - CSS <br />
                    - JavaScript <br />
                    - NodeJS <br />
                    - Git / Mercurial <br />
                    - MongoDB <br />
                <br />
                Фреймворки и прочее: <br />
                    - SASS / LESS <br />
                    - Angular / Knockout / React <br />
                    - Guld / Webpack <br />
                    - Koa <br />
                    - Mongoose <br />
                    - Docker <br />
                    - Gitlab CI / Teamcity

                <h2 class="title">Связаться со мной</h2>
                Github - <a href="http://github.com/evless" target="_blank">http://github.com/evless</a> <br />
                Twitter - <a href="https://twitter.com/_linless" target="_blank">https://twitter.com/_linless</a> </br>
            </div>
        </div>
    </body>
</html>
